npm-debug
Dockerfile
stack.yml
npm-debug.log
yarn-error.log
.dockerignore
**/mix-manifest.json
.env
.DS_Store
.idea
.git/
node_modules/
vendor/
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/chunks/*
/storage/*.key
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/cache/data/*
/storage/debugbar/*
/storage/logs/*
/storage/medialibrary/*
/storage/app/*
/tests/Browser/console/*
/tests/Browser/images/*
/tests/Browser/screenshots/*
/bootstrap/cache/*

